<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nitrogen</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="">
    <header class="">     
    </header>
    {% block body %}{% endblock %}
    <footer class=""></footer>
    <script src="js/app.js"></script>
</body>

</html>